openapi: 3.1.0
info:
  title: Superform Auxiliary Migrate API
  version: 1.0.0
servers:
- url: https://api.superform.xyz
tags:
- name: Migrate
paths:
  /migrate/start:
    post:
      description: Get transaction for migration using user address and tokens user wants to migrate
      operationId: migrate-transaction
      parameters:
      - example: false
        explode: false
        in: query
        name: need_approval
        schema:
          examples:
          - false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/StartMigrationInput'
              type: array
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartMigrationOutputBody'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - apiKey: []
      summary: Get transaction for migration
      tags:
      - Migrate
  /migrate/user-vault-shares/{user_address}:
    get:
      description: Get user erc4626 vault share balances
      operationId: migrate-user-balances
      parameters:
      - example: '0x0000000000000000000000000000000000000000'
        in: path
        name: user_address
        required: true
        schema:
          examples:
          - '0x0000000000000000000000000000000000000000'
          type: string
      - example: false
        explode: false
        in: query
        name: force_balance
        schema:
          examples:
          - false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserERC4626VaultShares'
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - apiKey: []
      summary: Get user vault shares
      tags:
      - Migrate
components:
  schemas:
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.superform.xyz/schemas/ErrorModel.json
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
          - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
          - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
          - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
          - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
          - https://example.com/errors/example
          format: uri
          type: string
      type: object
    MigrateApproveTransactions:
      additionalProperties: false
      properties:
        approval_amount:
          type: string
        superform_id:
          type: string
        to:
          type: string
        transaction_data:
          type: string
        vault_id:
          type: string
      required:
      - vault_id
      - superform_id
      - approval_amount
      - transaction_data
      - to
      type: object
    UserERC4626VaultShares:
      additionalProperties: false
      properties:
        amount_usd:
          format: double
          type: number
        balance:
          type: string
        decimals:
          format: int64
          type: integer
        protocol_id:
          type: string
        superform_id:
          type: string
        vault_id:
          type: string
      required:
      - vault_id
      - balance
      - superform_id
      - protocol_id
      - decimals
      - amount_usd
      type: object
    StartMigrationInput:
      additionalProperties: false
      properties:
        amount:
          type: string
        slippage:
          format: int64
          type: integer
        superform_id:
          type: string
        user_address:
          type: string
      required:
      - user_address
      - superform_id
      - amount
      - slippage
      type: object
    StartMigrationTransaction:
      additionalProperties: false
      properties:
        gas_limit:
          type: string
        to:
          type: string
        transaction_data:
          type: string
        value:
          type: string
      required:
      - transaction_data
      - to
      - value
      type: object
    StartMigrationOutputBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.superform.xyz/schemas/StartMigrationOutputBody.json
          format: uri
          readOnly: true
          type: string
        approvals:
          items:
            $ref: '#/components/schemas/MigrateApproveTransactions'
          type: array
        transaction:
          $ref: '#/components/schemas/StartMigrationTransaction'
      required:
      - transaction
      type: object
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
  securitySchemes:
    apiKey:
      description: Provide the api key issued to you
      in: header
      name: SF-API-KEY
      type: apiKey
