openapi: 3.1.0
info:
  title: Superform Auxiliary Stats API
  version: 1.0.0
servers:
- url: https://api.superform.xyz
tags:
- name: Stats
paths:
  /stats/superform:
    get:
      description: Returns total Superform TVL, Volume, number of Vaults and Protocols
      operationId: get-superform-tvl-volume-stats
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperformHeaderStats'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - apiKey: []
      summary: Get Superform stats
      tags:
      - Stats
  /stats/tvl/vault/{vault_id}:
    get:
      description: Returns the Superform TVL for a given vault
      operationId: get-vault-superform-tvl
      parameters:
      - example: 9Ddx7-7bIqdjshhjmgwn7
        in: path
        name: vault_id
        required: true
        schema:
          examples:
          - 9Ddx7-7bIqdjshhjmgwn7
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperformTVL'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - apiKey: []
      summary: Get vault Superform TVL
      tags:
      - Stats
components:
  schemas:
    SuperformTVL:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.superform.xyz/schemas/SuperformTVL.json
          format: uri
          readOnly: true
          type: string
        chain_id:
          format: int64
          type: integer
        protocol_icon:
          type: string
        protocol_id:
          type: string
        protocol_name:
          type: string
        superform_id:
          type: string
        superposition_tvl:
          format: double
          type: number
        timestamp:
          format: int64
          type: integer
        vault_tvl:
          format: double
          type: number
        yield_type:
          type: string
      required:
      - timestamp
      - chain_id
      - superform_id
      - protocol_id
      - protocol_name
      - protocol_icon
      - yield_type
      - superposition_tvl
      - vault_tvl
      type: object
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    SuperformHeaderStats:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.superform.xyz/schemas/SuperformHeaderStats.json
          format: uri
          readOnly: true
          type: string
        protocol_count:
          format: int64
          type: integer
        tvl:
          type: string
        vault_count:
          format: int64
          type: integer
        volume:
          type: string
      required:
      - volume
      - tvl
      - vault_count
      - protocol_count
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.superform.xyz/schemas/ErrorModel.json
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
          - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
          - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
          - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
          - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
          - https://example.com/errors/example
          format: uri
          type: string
      type: object
  securitySchemes:
    apiKey:
      description: Provide the api key issued to you
      in: header
      name: SF-API-KEY
      type: apiKey
