openapi: 3.1.0
info:
  title: Superform Auxiliary Explorer API
  version: 1.0.0
servers:
- url: https://api.superform.xyz
tags:
- name: Explorer
paths:
  /explorer/galxe/blast/{user}:
    get:
      description: Get user blast transaction galxe eligibility
      operationId: user-blast-galxe-eligibility
      parameters:
      - in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEligibleOutputBody'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - apiKey: []
      summary: Get user blast transaction galxe eligibility
      tags:
      - Explorer
  /explorer/galxe/crossChainTransaction/{user}:
    get:
      description: Get user cross chain transaction galxe eligibility
      operationId: user-cross-chain-galxe-eligibility
      parameters:
      - in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEligibleOutputBody'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - apiKey: []
      summary: Get user cross chain transaction galxe eligibility
      tags:
      - Explorer
  /explorer/galxe/multiVault/{user}:
    get:
      description: Get user multi vault galxe eligibility
      operationId: user-multi-vault-galxe-eligibility
      parameters:
      - in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEligibleOutputBody'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - apiKey: []
      summary: Get user multi vault galxe eligibility
      tags:
      - Explorer
  /explorer/galxe/sameChainTransaction/{user}:
    get:
      description: Get user same chain transaction galxe eligibility
      operationId: user-same-chain-galxe-eligibility
      parameters:
      - in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEligibleOutputBody'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - apiKey: []
      summary: Get user same chain transaction galxe eligibility
      tags:
      - Explorer
  /explorer/transactionAmount/{txHash}:
    get:
      description: Get transaction amount
      operationId: get-transaction-amount
      parameters:
      - in: path
        name: txHash
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperformTransaction'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - apiKey: []
      summary: Get transaction amount
      tags:
      - Explorer
components:
  schemas:
    SuperformTransaction:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.superform.xyz/schemas/SuperformTransaction.json
          format: uri
          readOnly: true
          type: string
        amount_usd:
          format: double
          type: number
        creation_timestamp:
          format: int64
          type: integer
        from_chain:
          format: int64
          type: integer
        protocol:
          type: string
        sender:
          type: string
        status:
          format: int32
          type: integer
        superform_id:
          type: string
        to_chain:
          format: int64
          type: integer
        transaction_hash:
          type: string
        tx_type:
          format: int64
          type: integer
        vault:
          type: string
        vault_id:
          type: string
      required:
      - transaction_hash
      - tx_type
      - sender
      - from_chain
      - to_chain
      - creation_timestamp
      - superform_id
      - vault
      - vault_id
      - protocol
      - amount_usd
      - status
      type: object
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.superform.xyz/schemas/ErrorModel.json
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
          - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
          - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
          - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
          - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
          - https://example.com/errors/example
          format: uri
          type: string
      type: object
    UserEligibleOutputBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.superform.xyz/schemas/UserEligibleOutputBody.json
          format: uri
          readOnly: true
          type: string
        is_ok:
          type: boolean
      required:
      - is_ok
      type: object
  securitySchemes:
    apiKey:
      description: Provide the api key issued to you
      in: header
      name: SF-API-KEY
      type: apiKey
